* {
    box-sizing: border-box;
}
body, p {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

.container {
    background: #FAF9FA;
    padding: 20px 20px 25px 20px;
}
.loggedin .loginplease { display: none; }
.loginplease .askQuestion { display: none; }
.loginplease .questions { display: none; }
#authAQuestion { cursor: pointer; }

.question-list {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    border: 1px solid #DAD8DE;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.04), 0px 2px 2px rgba(0, 0, 0, 0.02), 0px 2px 4px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
}

.question-list li:not(:last-child) .question-item {
    border-bottom: 1px solid #DAD8DE;
}

.question-item {
    background: #fff;
    padding: 10px 20px;
    will-change: background;
    transition: background .15s ease;
}

.question-item p {
    margin: 0;
    font-size: 12px;
    line-height: 1.5;
}

.question-item:hover {
    background: #FAF9FA;
}

.question-item p span {
    color: #6E6779;
    font-weight: 600;
}

.question-item__answer {
    font-size: 12px;
}

.question-item span {
    margin-left: -10px;
}

.toolbar {
    display: flex;
}

.askQuestionBtn {
    color: #fff;
    font-size: 12px;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    padding: 0 6px;
    margin: 10px 0 0 auto;
    line-height: 30px;
    background: #6441A4;
    border-radius: 4px;
    display: inline-block;
    -webkit-appearance: none;
    box-shadow: none;
}
.container:not(:last-child) {
    border-bottom: 1px solid #DAD8DE;
}

.question-input {
    -webkit-appearance: none;
    line-height: 18px;
    font-family: inherit;
    font-size: 12px;
    color: #333;
    border: 1px solid #DAD8DE;
    border-radius: 4px;
    background: #fff;
    padding: 4px 10px;
    width: 100%;
    display: block;
    resize: none;
    outline: none;
    min-height: 60px;
}

.question-input:focus {
    border-color: #6441A4;
}

.previousTitle {
    height: 29px;
    left: 20px;
    top: 194px;

    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 24px;
    line-height: 29px;

    color: #19171C;
}
.questionText {
    text-align: left;
}

.title {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 24px;
    line-height: 29px;
    color: #19171C;
    margin: 0 0 10px;
    font-weight: 900;
}

.inputBox {
    height: 60px;
    left: 20px;
    top: 59px;
    /* White $white */
    background: #FFFFFF;
    /* Hinted Grey 12 $hinted-grey-12 */
    border: 1px solid #DAD8DE;
    box-sizing: border-box;
    border-radius: 4px;
}
